<fabric-ui-commandbar class="navbar-fixed-top" [items]="itemsNonFocusable"></fabric-ui-commandbar>
<div class="ms-CommandBar">
    <div class="ms-CommandBar-sideCommands">
      <div class="ms-CommandButton ms-CommandButton--noLabel">
        <button class="ms-CommandButton-button">
          <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--CircleRing"></i></span> 
          <span class="ms-CommandButton-label"></span> 
        </button>
      </div>
    </div>
    <div class="ms-CommandBar-mainArea">
      <div class="ms-SearchBox ms-SearchBox--commandBar">
        <input class="ms-SearchBox-field" type="text" value="">
        <label class="ms-SearchBox-label">
          <i class="ms-SearchBox-icon ms-Icon ms-Icon--Search"></i>
          <span class="ms-SearchBox-text">Search</span> 
        </label>
        <div class="ms-CommandButton ms-SearchBox-clear ms-CommandButton--noLabel">
          <button class="ms-CommandButton-button">
            <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Cancel"></i></span> 
            <span class="ms-CommandButton-label"></span> 
          </button>
        </div>
        <div class="ms-CommandButton ms-SearchBox-exit ms-CommandButton--noLabel">
          <button class="ms-CommandButton-button">
            <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--ChromeBack"></i></span> 
            <span class="ms-CommandButton-label"></span> 
          </button>
        </div>
        <div class="ms-CommandButton ms-SearchBox-filter ms-CommandButton--noLabel">
          <button class="ms-CommandButton-button">
            <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--Filter"></i></span> 
            <span class="ms-CommandButton-label"></span> 
          </button>
        </div>
      </div>
      <div class="ms-CommandButton">
        <button class="ms-CommandButton-button">
          <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--CircleRing"></i></span> 
          <span class="ms-CommandButton-label">Command</span> 
        </button>
      </div>
      <div class="ms-CommandButton">
        <button class="ms-CommandButton-button">
          <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--CircleRing"></i></span> 
          <span class="ms-CommandButton-label">New</span> 
          <span class="ms-CommandButton-dropdownIcon"><i class="ms-Icon ms-Icon--ChevronDown"></i></span> 
        </button>
        <ul class="ms-ContextualMenu is-opened ms-ContextualMenu--hasIcons">
          <li class="ms-ContextualMenu-item">
            <a class="ms-ContextualMenu-link" tabindex="1">Folder</a> 
            <i class="ms-Icon ms-Icon--Folder"></i>
          </li>
          <li class="ms-ContextualMenu-item ms-ContextualMenu-item--divider"></li>
          <li class="ms-ContextualMenu-item">
            <a class="ms-ContextualMenu-link" tabindex="1">Plain Text Document</a> 
            <i class="ms-Icon ms-Icon--Page"></i>
          </li>
          <li class="ms-ContextualMenu-item">
            <a class="ms-ContextualMenu-link" tabindex="1">A Coffee</a> 
            <i class="ms-Icon ms-Icon--Coffee"></i>
          </li>
          <li class="ms-ContextualMenu-item">
            <a class="ms-ContextualMenu-link" tabindex="1">Picture</a> 
            <i class="ms-Icon ms-Icon--Picture"></i>
          </li>
          <li class="ms-ContextualMenu-item">
            <a class="ms-ContextualMenu-link" tabindex="1">Money</a> 
            <i class="ms-Icon ms-Icon--Money"></i>
          </li>
        </ul>
      </div>
      <div class="ms-CommandButton">
        <button class="ms-CommandButton-button">
          <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--CircleRing"></i></span> 
          <span class="ms-CommandButton-label">Command</span> 
        </button>
      </div>
      <div class="ms-CommandButton">
        <button class="ms-CommandButton-button">
          <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--CircleRing"></i></span> 
          <span class="ms-CommandButton-label">Command</span> 
        </button>
      </div>
      <div class="ms-CommandButton">
        <button class="ms-CommandButton-button">
          <span class="ms-CommandButton-icon ms-fontColor-themePrimary"><i class="ms-Icon ms-Icon--CircleRing"></i></span> 
          <span class="ms-CommandButton-label">Command</span> 
        </button>
      </div>
      <div class="ms-CommandButton ms-CommandBar-overflowButton ms-CommandButton--noLabel">
        <button class="ms-CommandButton-button">
          <span class="ms-CommandButton-icon"><i class="ms-Icon ms-Icon--More"></i></span> 
          <span class="ms-CommandButton-label"></span> 
        </button>
        <ul class="ms-ContextualMenu is-opened ms-ContextualMenu--hasIcons">
          <li class="ms-ContextualMenu-item">
            <a class="ms-ContextualMenu-link" tabindex="1">Folder</a> 
            <i class="ms-Icon ms-Icon--Folder"></i>
          </li>
          <li class="ms-ContextualMenu-item ms-ContextualMenu-item--divider"></li>
          <li class="ms-ContextualMenu-item">
            <a class="ms-ContextualMenu-link" tabindex="1">Plain Text Document</a> 
            <i class="ms-Icon ms-Icon--Page"></i>
          </li>
          <li class="ms-ContextualMenu-item">
            <a class="ms-ContextualMenu-link" tabindex="1">A Coffee</a> 
            <i class="ms-Icon ms-Icon--Coffee"></i>
          </li>
          <li class="ms-ContextualMenu-item">
            <a class="ms-ContextualMenu-link" tabindex="1">Picture</a> 
            <i class="ms-Icon ms-Icon--Picture"></i>
          </li>
          <li class="ms-ContextualMenu-item">
            <a class="ms-ContextualMenu-link" tabindex="1">Money</a> 
            <i class="ms-Icon ms-Icon--Money"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Jegybazár</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/home">Home</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/event">Események</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/ticket">Jegyek</a>
        <a class="nav-item nav-link" routerLinkActive="active"
           routerLink="/about">Rólunk</a>
        <ng-container *ngIf="!(userService.isLoggedIn$ | async); else loggedInBlock">
          <a class="nav-item nav-link" routerLinkActive="active" routerLink="/user/login">Belépés</a>
          <a class="nav-item nav-link btn btn-primary text-light ml-lg-2 btn-sm"
             routerLinkActive="active"
             routerLink="/user/registration"
          >Regisztráció</a>
        </ng-container>
        <ng-template #loggedInBlock>
          <a class="nav-item nav-link tn btn-primary text-light ml-lg-2 btn-sm" routerLinkActive="active" routerLink="/user">Profile</a>
          <a class="nav-item nav-link" routerLinkActive="active"
             (click)="logout()">Logout
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</nav> -->
