/* global css*/

input, span, textarea, li, .btn, .form-control { 
  border-radius: 0px !important;
}

/* Custom Fabric */
* {
  outline: transparent !important;
}


html, body {
  font-size: 12px;
  background: #dadada;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

  a.disabled {
    pointer-events: none;
    cursor: default;
  }

}

